<!DOCTYPE html>
html(lang="fr")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Administration
        link(rel="stylesheet", href="bootstrap.css")
        link(rel="stylesheet", href="style.css")
    body
        h1.titre Bienvenue dans l'espace d'administration
        p
           | Lorem ipsum dolor sit amet.
        
        a(href="/write") Nouvel article

        div.container 
           p Bonjour #{name}

        <table class="table">
         <thead>
          <tr>
           <th>Titre</th>
           <th>Auteur</th>
           <th>Catégorie</th>
           <th>Action</th>
          </tr>
         </thead>
         <tbody>
          <tr>
           <td>Le virtouse</td>
           <td>JP</td>
           <td>Danse</td>
           <td>Acrobatie</td>
          </tr>
         </tbody>
        </table>

           