extends layout.pug
 
block variables
    - let title = 'Contact';
 
block content
    h1 Contact
    form(action="contact/send", method="post")
        input(type="text", name="text")
        textarea(name="message", cols="30", rows="10")
        button(type="submit") Send